<div style="margin: 5%;">
    <div *ngIf="reviews !== undefined" class="papers-container">
        <div *ngIf="reviews.length === 0">
            <h2 style="text-align: center;">No Assigned Reviews</h2>
        </div>
        <div *ngFor="let review of reviews; index as i">
            <mat-card *ngIf="review.status != 'submitted'" class="paper-card">
                <div style="display: flex">
                    <mat-card-title>
                        {{review.publicationName}}
                    </mat-card-title>
                </div>
                <mat-card-content>
                    <span> {{review.reviewer}}, {{review.submissionDate}} </span>

                </mat-card-content>
                <button (click)="accept(review.paperName)" *ngIf="review.status === 'created'" mat-button color="primary">accept</button>
                <button (click)="reject(review.paperName)" *ngIf="review.status === 'created'" mat-button color="primary">reject</button>
                <button (click)="edit(review.paperName)" *ngIf="review.status === 'accepted'" mat-button color="primary">edit</button>
                <button *ngIf="review.status === 'accepted'" mat-button color="primary">publish</button>
                <button mat-button color="primary">view paper</button>
            </mat-card>
        </div>

        <br>

    </div>
</div>