<div style="margin: 5%;">
    <div  *ngIf = "reviews !== undefined" class="papers-container">
        <div *ngIf = "reviews.length === 0">
            <h2 style="text-align: center;">No Assigned Reviews</h2>
        </div>
        <mat-card  *ngFor = "let review of reviews; index as i" class="paper-card">
            <div style="display: flex">
                <mat-card-title>
                    {{review.publicationName}} 
                </mat-card-title>
            </div>
            <mat-card-content>
                <span> {{review.reviewer}}, {{review.submissionDate}} </span>
                
            </mat-card-content>
        </mat-card>
        <br>
    
    </div>
</div>
