<div class="search-wrapper">

    <button mat-stroked-button color="primary" (click)="openDialogue()" >Search&nbsp;&nbsp;<i class="fa fa-search fa-2x" aria-hidden="true"> </i></button>
    
    <div  *ngIf="dialog" class="dialog">
        <form action="" *ngIf="dialog">

            <mat-form-field class="field-full-width">
                <input id="title"
                matInput
                formControlName="title"
                placeholder="Title" />
            </mat-form-field>

            <div style="display: inline;">
                <mat-form-field style="width: 49%;">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                &nbsp; &nbsp;
                <mat-form-field class="field-full-width" style="width: 49%;">
                    <input id="language"
                    formControlName="language"
                    matInput
                    placeholder="Language" />
                </mat-form-field>
            </div>

            <span>Authors:</span><br>
            <div style="display: inline;">
                <mat-form-field  style="width: 85%;" >
                    <input id="author"
                    matInput
                    formControlName="author"
                    placeholder="Author" />
                </mat-form-field>
                <button style="width: 15%;">Add</button>
            </div>
            
            <span>Keywords:</span><br>
            <div style="display: inline;">
                <mat-form-field  style="width: 85%;" >
                    <input id="keyword"
                    matInput
                    formControlName="keyword"
                    placeholder="Keyword" />
                </mat-form-field>
                <button style="width: 15%;">Add</button>
            </div>

            <mat-form-field  class="field-full-width" >
                <textarea id="text"
                matInput
                formControlName="text"
                placeholder="Text"></textarea>
            </mat-form-field>
            
            <button mat-button color="primary" (click)="closeQuestionDialog()">Close</button>
            <button mat-button color="primary" (click)="search()">Apply</button>

        </form>
    </div>

</div>