<div>
    <button (click)="openDialogue()">Search</button>
        <div *ngIf="dialog">
                <mat-dialog-content max-width="600px">
                    <mat-card>
                        <mat-card-title>
                            <span class="headline">Search and Filter</span>
                        </mat-card-title>
                        <mat-card-content>
                            <mat-grid-list cols="2" rowHeight="50px">
                                <mat-grid-tile [colspan]="2" [rowspan]="1">
                                    <input type="text" placeholder="Title*">
                                </mat-grid-tile>
                               <mat-grid-tile [colspan]="2" [rowspan]="1">
                                    <input type="text" placeholder="Authors*">
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="1" [rowspan]="1">
                                    <input type="text" placeholder="Subject*">
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="1" [rowspan]="1">
                                    <input type="text" placeholder="Language*">
                                </mat-grid-tile>
                                 <mat-grid-tile [colspan]="2" [rowspan]="1">
                                    <input type="date" name="" id="" placeholder="dd-MM-yyyy">
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="2" [rowspan]="1">
                                    <input type="text" placeholder="Keywords">
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="2" [rowspan]="1">
                                    <textarea placeholder="Text*"></textarea>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </mat-card-content>
                    </mat-card>
            
                </mat-dialog-content>
                <mat-dialog-actions>
                    <button mat-button (click)="closeQuestionDialog()">Close</button>
                    <button mat-button (click)="search()">Apply</button>
                </mat-dialog-actions>
            </div>
</div>
