<div style="margin: 5%;">
    <div class="papers-container">
        <div *ngIf = "papers.length === 0">
            <h2 style="text-align: center;">No Scientific Papers</h2>
        </div>
        <mat-card  *ngFor = "let paper of papers; index as i" class="paper-card">
            <div style="display: flex">
                <mat-card-title>
                    {{paper.title}} 
                    </mat-card-title>
                <mat-chip-list >
                    <mat-chip>{{paper.status}}</mat-chip>
                </mat-chip-list>
            </div>
            <mat-card-content>
                <span *ngFor = "let author of paper.authors;"> {{author}}, </span>
                <div *ngIf = "forUser === true">
                    <button class="paper_btns" (click) = "openPaper(paper.title)" mat-stroked-button color="primary">Open</button>
                    <button *ngIf = "paper.status == 'not completed'" class="paper_btns" mat-stroked-button color="primary">Edit</button>
                    <button *ngIf = "paper.status == 'completed'" class="paper_btns" mat-stroked-button color="primary">Publish</button>
                    <button class="paper_btns" mat-stroked-button color="primary">Delete</button>
                </div>
                <div *ngIf = "forUser === false">
                    <button class="paper_btns" (click) = "openPaper(paper.title)" mat-stroked-button color="primary">Open</button>
                    <button class="paper_btns" (click) = "acceptPaper(paper.title, i)" mat-stroked-button color="primary">Accept</button>
                    <button class="paper_btns" (click) = "assignReview()" mat-stroked-button color="primary">Send for review</button>
                    <button class="paper_btns"(click) = "rejectPaper(paper.title, i)" mat-stroked-button color="primary">Reject</button>
                </div>
            </mat-card-content>
        </mat-card>
        <br>
    
    </div>
</div>
