<app-navbar loggedIn="False"></app-navbar>
<div style="margin-top: 5%;">
    <mat-tab-group mat-align-tabs="center" >
        
        <mat-tab *ngIf= "role === 'EDITOR'" label="New Papers">
            <app-paper-list [papers] = 'completedPapers' [forUser] = false></app-paper-list>
        </mat-tab>
        <mat-tab label="Your Papers">
            <app-paper-list [papers] = 'userPapers' [forUser] = true></app-paper-list>
        </mat-tab>
        <mat-tab label="Your Reviews">
            <app-review-list></app-review-list>
        </mat-tab>
    
    </mat-tab-group>
</div>
