<div class="form-wrapper" >
  <mat-card class="box" id="login-box">
    <mat-card-header>
        Assign Review for {{title}}
      </mat-card-header>

    <mat-card-content>
        <mat-label>Assign to user</mat-label>
        <select [(ngModel)]="user">
          <option *ngFor="let reviewer of recommendedReviewers" [value]="reviewer">
            {{reviewer}}
          </option>
        </select>
      </mat-card-content>
      <button id="assignReviewBt" (click)="onAssignReviewSubmit()" mat-stroked-button color= "primary" class="btn-block">Assign Review</button>
  </mat-card>

</div>
